@font-face {
  font-family: "Stmr";
  src: url("https://keage.sakura.ne.jp/fonts/Saitamaar.woff2")
       format("woff2");
  font-weight: 400;
  font-style: normal;
}

.AA_Text {
  font-family: "Stmr", "MS PGothic", monospace;
  font-size: 16px;
  line-height: 1.125;
  background-color: #f8f8f9;

  white-space: nowrap;
  word-break: break-all;

  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
}

@media screen and (min-width: 541px) and (max-width: 800px) {
  .AA_Text {
    font-size: 11px;
    width: 800px;
  }
}

@media screen and (max-width: 540px) {
  .AA_Text {
    font-size: 9px;
    width: 680px;
  }
}
